{:paths ["src" "resources"]

 :deps
 {org.clojure/clojure {:mvn/version "1.12.5"}

  ;; Web
  ring/ring-core          {:mvn/version "1.15.4"}
  ring/ring-jetty-adapter {:mvn/version "1.15.4"}
  ring/ring-defaults      {:mvn/version "0.7.0"}
  metosin/reitit          {:mvn/version "0.10.1"}
  hiccup/hiccup           {:mvn/version "2.0.0"}

  ;; Auth
  buddy/buddy-hashers {:mvn/version "2.0.167"}
  buddy/buddy-sign    {:mvn/version "3.6.1-359"}
  clj-http/clj-http   {:mvn/version "3.13.1"}

  ;; Utilities
  org.commonmark/commonmark                {:mvn/version "0.28.0"}
  org.commonmark/commonmark-ext-footnotes  {:mvn/version "0.28.0"}
  org.commonmark/commonmark-ext-gfm-tables {:mvn/version "0.28.0"}
  clj-commons/clj-yaml                     {:mvn/version "1.0.29"}  ; YAML frontmatter parsing
  com.draines/postal                       {:mvn/version "2.0.5"}
  metosin/jsonista                         {:mvn/version "1.0.0"}

  ;; Logging
  com.taoensso/timbre {:mvn/version "6.8.0"}

  ;; Security
  ring/ring-anti-forgery {:mvn/version "1.4.0"}

  ;; biff-datalevin (use :dev alias for local, :prod for released)
  io.github.datalevin/biff-datalevin {:local/root "lib/biff-datalevin"}
  }

 :aliases
 { :dev {:extra-paths ["dev"]
         :extra-deps  {org.clojure/tools.namespace        {:mvn/version "1.5.1"}
                       nrepl/nrepl                        {:mvn/version "1.7.0"}
                       com.nextjournal/beholder           {:mvn/version "1.0.3"}
                       ring/ring-devel                    {:mvn/version "1.15.4"}
                       ;; Local submodule during development
                       io.github.datalevin/biff-datalevin {:local/root "lib/biff-datalevin"}}
         :main-opts   ["-m" "nrepl.cmdline" "--interactive"]}

  :prod {:extra-deps {;; Published version for production
                      io.github.datalevin/biff-datalevin {:mvn/version "0.1.12"}}}

  :test {:extra-paths ["test"]
         :extra-deps  {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         :exec-fn     cognitect.test-runner.api/test}

  :verify-examples
  {:extra-paths ["test"]
   :exec-fn datalevin.docs.example-verify/verify
   :exec-args {:docs-dir "resources/docs"
               :manifest "test/doc_example_manifest.edn"}}

  :build {:deps       {io.github.clojure/tools.build {:mvn/version "0.10.14"}}
          :ns-default build}}}
